<!DOCTYPE html>
<html>
  <head>
    <!-- META -->
    <meta charset="UTF-8" />

    <!-- Content Security Policy (CSP) -->
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval' 127.0.0.1" />
    <meta http-equiv="X-Content-Security-Policy" content="default-src 'self'; script-src 'self' 'unsafe-eval' 127.0.0.1" />

    <title><%= app_name %> v<%= app_version %></title>
  </head>
  <body>
    <h1>Hello World!</h1>
  </body>
</html>
